@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --nav-total-margin: 24px;
    --nav-line-height: 27.2px;
  }

  a {
    @apply leading-[27.2px];
  }

  body nav:first-of-type a {
    @apply m-[12px] inline-block;
  }

  [id] {
    @apply scroll-mt-[calc(24px+27.2px)];
  }

  nav ul {
    @apply flex flex-col justify-center;
  }
}

@layer components {
  .admonition-note {
    @apply border-yellow-600 bg-yellow-400 text-yellow-700;
  }
  .admonition-important {
    @apply border-blue-600  bg-blue-400 text-blue-700;
  }
  .admonition-warning {
    @apply border-red-600  bg-red-400 text-red-700;
  }
  .admonition-tip {
    @apply border-green-600  bg-green-400 text-green-700;
  }
  .admonition-caution {
    @apply border-orange-600  bg-orange-400 text-orange-700;
  }
  .admonition-custom {
    @apply border-purple-600  bg-purple-400 text-purple-700;
  }
}
#toc {
  border: 1px solid var(--links);
  padding: 20px;
  margin: 0.83em 0;
  border-radius: 0.4em;
}

#toc ul {
  list-style-type: lower-roman;
}

#toc ul li a {
  text-decoration: none;
  transition: color 0.3s ease;
  color: white;
}

#toc ul li a:hover {
  color: var(--links);
  text-decoration: underline;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.article {
  border: 1px solid var(--border);
  padding: 20px;
  margin: 10px 0;
  border-radius: 0.4em;
}

/* honeypot */
.hmm {
  display: none;
}
