html {
    scroll-behavior: smooth;
}

footer {
    text-align: center;
}

[id] {
    scroll-margin-top: 4rem;
}

#toc {
    border: 1px solid var(--links);
    padding: 20px;
    margin: .83em 0;
    border-radius: .4em;

}

#toc ul {
    list-style-type: lower-roman;
}

#toc ul li a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: white;
}

#toc ul li a:hover {
    color: var(--links);
    text-decoration: underline;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.article {
    border: 1px solid var(--border);
    padding: 20px;
    margin: 10px 0;
    border-radius: 0.4em;
}

/* honeypot */
.hmm {
    display: none
}