@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --nav-total-margin: 24px;
    --nav-line-height: 27.2px;
  }

  a {
    @apply leading-[27.2px];
  }

  body nav:first-of-type a {
    @apply m-[12px] inline-block;
  }

  [id] {
    @apply scroll-mt-[calc(24px+27.2px)];
  }

  nav ul {
    @apply flex flex-col justify-center;
  }
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.article {
  border: 1px solid var(--border);
  padding: 20px;
  margin: 10px 0;
  border-radius: 0.4em;
}

/* honeypot */
.hmm {
  display: none;
}

a.data-footnote-backref {
  font-family: sans-serif;
}

#article-body a {
  text-decoration: underline;
}

*:focus {
  outline: none !important;
}
button:focus,
input:focus,
input[type='submit']:focus,
a:focus {
  outline: #0099cc solid 2px !important;
}
