---
export const prerender = false
import ContactMe from '../components/ContactMe.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
  <h1>Contact Me</h1>
  <ContactMe />
</BaseLayout>
