---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactMe from "../components/ContactMe.astro";
---

<BaseLayout>
	<h2>Welcome!</h2>
	<p>Here's a description about what this page is about</p>
	<section>
		<h2>Latest Projects</h2>
	</section>
	<section>
		<h2>Highlighted Projects</h2>
	</section>
	<ContactMe />
</BaseLayout>
