---
import { version } from '../../package.json'
type Props = Record<string, never>
import SocialStack from './SocialStack.astro'
---

<footer class='leading-2 flex flex-col items-center'>
  <SocialStack class='mb-5' />

  <div class='m-0 flex gap-1 text-sm xxs:flex-col xxs:items-center xxs:gap-5'>
    <span>&copy; 2024 Chris Holland</span>
    <span class='xxs:hidden' aria-hidden='true'>&#8226;</span>
    <a
      class='twp underline'
      aria-label=`Go to my personal website's Github repository`
      href='https://github.com/chrishollandaise/personal-website/tree/%FULL_COMMIT_HASH%'
      >v{version} (%SHORT_COMMIT_HASH%)</a
    ><span class='xxs:hidden' aria-hidden='true'>&#8226;</span>
    <a
      aria-label='Go back to the top of the page'
      class='twp underline'
      href='#'>Top</a
    >
    <span class='xxs:hidden' aria-hidden='true'>&#8226;</span>
    <a aria-label='Go to my RSS feed' class='twp underline' href='/rss.xml'
      >RSS</a
    >
  </div>
  <p class='m-0 text-sm xxs:mt-5'>
    Made with <a class='twp underline' href='https://astro.build/'
      >Astro &#128640;</a
    >
  </p>
</footer>
