---
type Props = Record<string, never>
import SocialStack from './SocialStack.astro'
---

<footer class='text-center'>
  <SocialStack class='justify-center' />
  <p>Made by Chris Holland. 2024.</p>
  <p>Built in %X_SECONDS%</p>
</footer>
