---
import Navigation from "./Navigation.astro";
---

<header class="flex items-center justify-between">
    <a href="/">Chris Holland</a>
    <Navigation />
    <!-- <div id="search"></div> -->
</header>
