---
interface Props {
  title: string
}
import GlobalNoScript from '../components/GlobalNoScript.astro'
const { title } = Astro.props
import '../styles/global.css'
---

<head>
  <meta charset='utf-8' />
  <link rel='icon' type='image/x-icon' href='/favicon.ico' />
  <meta name='viewport' content='width=device-width' />
  <meta name='generator' content={Astro.generator} />
  <link rel='sitemap' href='/sitemap-index.xml' />

  <!-- RSS -->
  <link
    rel='alternate'
    type='application/rss+xml'
    title='Chris Holland'
    href={`${Astro.site}rss.xml`}
  />
  <!-- CSS Styling -->
  <link
    rel='stylesheet'
    href='https://cdn.jsdelivr.net/gh/kimeiga/bahunya/dist/bahunya.min.css'
  />
  <!-- Plausible Analytics -->
  <script
    type='text/partytown'
    async
    data-domain='v2.chrismholland.com'
    data-api='https://worker-blue-butterfly-5c63.chrishollandaise.workers.dev/athena/event'
    src='https://worker-blue-butterfly-5c63.chrishollandaise.workers.dev/apollo/script.js'
  ></script>
  <GlobalNoScript />
  <title>{title}</title>
</head>
