---
interface Props {
  title: string
}
const { title } = Astro.props
import '../styles/global.css'
---

<head>
  <meta charset='utf-8' />
  <link rel='icon' type='image/x-icon' href='/favicon.ico' />
  <meta name='viewport' content='width=device-width' />
  <meta name='generator' content={Astro.generator} />
  <link rel='sitemap' href='/sitemap-index.xml' />
  <!-- Pagefind -->
  <link
    rel='preload'
    as='style'
    onload="this.onload=null;this.rel='stylesheet'"
    href='/pagefind/pagefind-ui.css'
  />
  <script src='/pagefind/pagefind-ui.js' is:inline></script>
</head>
<!-- RSS -->
<link
  rel='alternate'
  type='application/rss+xml'
  title='Chris Holland'
  href={`${Astro.site}rss.xml`}
/>
<!-- CSS Styling -->
<link
  rel='stylesheet'
  href='https://cdn.jsdelivr.net/gh/kimeiga/bahunya/dist/bahunya.min.css'
/>
<!-- Plausible Analytics -->
{
  import.meta.env.DEV && (
    <script
      type='text/partytown'
      async
      data-domain='v2.chrismholland.com'
      data-api='v2.chrismholland.com/apollo/event'
      src='https://v2.chrismholland.com/apollo/script.js'
    />
  )
}

<title>{title}</title>
