---
type Props = Record<string, never>
import { Icon } from 'astro-icon/components'
import Search from '../components/Search.astro'
---

<nav role='navigation' class='xs:flex xs:flex-wrap xs:justify-between'>
  <a aria-label='link to home page' tabindex='0' class='block' href='/'
    >[chris holland]</a
  >

  <ul
    id='menu'
    class='flex flex-row xs:order-last xs:hidden xs:basis-full xs:flex-col xs:text-center'
  >
    <!-- easier to click link since whole block is clickable -->
    <li>
      <a tabindex='0' class='block' href='/blog'>writings</a>
    </li>
    <li>
      <a tabindex='0' class='block' href='/tags/project'>projects</a>
    </li>
    <li>
      <a tabindex='0' class='block' href='/Holland_Chris_Resume.pdf'>resume</a>
    </li>
    <li>
      <a tabindex='0' class='block' href='/#contact-me'>contact</a>
    </li>
  </ul>

  <div class='ml-auto flex'>
    <Search />
    <button id='menu-btn' class='twp hidden border-0 xs:order-last xs:block'>
      <Icon
        class='m-3 hidden text-2xl xs:block'
        name='mdi:hamburger-menu'
        id='menu-burger'
      />
      <Icon id='close' class='m-3 hidden text-2xl xs:hidden' name='mdi:close' />
    </button>
  </div>
</nav>

<script>
  const menu: Element | null = document.querySelector('#menu')
  const closeIcon: Element | null = document.querySelector('#close')
  const menuBurgerIcon: Element | null = document.querySelector('#menu-burger')
  const menuButton: Element | null = document.querySelector('#menu-btn')

  menuButton?.addEventListener('click', (e: Event) => {
    if (menu?.classList.contains('xs:hidden')) {
      // Reveal mobile menu
      menu.classList.replace('xs:hidden', 'xs:flex')
      // Show close button
      closeIcon?.classList.replace('xs:hidden', 'xs:block')
      menuBurgerIcon?.classList.add('xs:block', 'xs:hidden')
    } else {
      // Hide mobile menu
      menu?.classList.replace('xs:flex', 'xs:hidden')
      // Show close button
      closeIcon?.classList.replace('xs:block', 'xs:hidden')

      menuBurgerIcon?.classList.replace('xs:hidden', 'xs:block')
    }
  })
</script>
