---

---

<nav>
    <ul style="">
        <li>
            <a href="/">[chris holland]</a>
        </li>
        <li>
            <a href="/blog">writings</a>
        </li>
        <li>
            <a href="/tags/project">projects</a>
        </li>
        <li>
            <a href="/Holland_Chris_Resume.pdf">resume</a>
        </li>
        <li>
            <a href="/#contact-me">contact</a>
        </li>
    </ul>
    <!-- <div id="search"></div> -->
</nav>
