---
type Props = {
  title?: string
}
const { title } = Astro.props
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Head from '../components/Head.astro'
---

<html class='scroll-smooth' lang='en'>
  <Head title={title ? `${title} - Chris' Blog"` : "Chris' Blog"} />
  <body>
    <Header />
    <main data-pagefind-body>
      <slot />
    </main>
    <Footer />
    <script>
      window.addEventListener('DOMContentLoaded', (event) => {
        //@ts-ignore
        new PagefindUI({
          element: '#search',
          showSubResults: true,
          highlightParam: 'highlight',
          showImages: false
        })
      })
    </script>
  </body>
</html>
