---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
        <script src="/pagefind/pagefind-ui.js" is:inline></script>
        <title>Astro</title>
    </head>
    <body>
        <h2>Welcome to My Blog</h2>
        <Navigation />
        <main data-pagefind-body>
            <div id="search"></div>
            <slot />
        </main>
        <Footer />
    </body>
    <script>
        window.addEventListener("DOMContentLoaded", (event) => {
            //@ts-ignore
            new PagefindUI({
                element: "#search",
                showSubResults: true,
                highlightParam: "highlight",
                showImages: false,
            });
        });
    </script>
</html>
